# Không đẩy môi trường ảo
env/
venv/
.venv/
E:/DATASET-FSCIL/
Ec_result/
weights/
# Không đẩy Dataset nặng (Sửa tên theo folder của sư đệ)
CUB_200_2011/
images/
*.jpg
*.png
output_json
# Không đẩy các file lưu model
*.pth
*.h5

LLM-description
.vscode/test.py
# Các file rác hệ thống
__pycache__/
.DS_Store
.ipynb_checkpoints/
